*.so
*.swp
*/*/.vscode
.clangd
.DS_Store
.idea/*
.vs/
.vscode/
build/
cmake-build-*/
CMakeLists.txt.user
CMakeUserPresets.json
dataset/
settings.json
abc/

data/Nadezhda
data/Yosys
data/.DS_Store
Generator/build/*
*.swp
.DS_Store
pyth
db.sqlite3
add_parameter/migrations
make_dataset/migrations
dataset/
temp_for_json/
package-lock.json
jsons_for_generator/*
launch.json
settings.json
*/.vscode
.idea/*
document.env
